@charset "utf-8";

:roor {
    --color1: red;

}

@function pxToEm($px, $font_size: 16) {
    @return $px / $font_size + 0em;
}

@mixin style1 {
    background:rgb(210, 210, 210);
    margin:0;
}

body {
    @include style1;
}

.top_nav {
    position:sticky;
    width:100vw;
    top:0;
    background: #fff;
    &__container {
        display:flex;
        align-items:center;
        justify-content:space-between;
        max-width: 1184px;
        padding:pxToEm(10) pxToEm(15);
        display:flex;
        margin:auto;
    }

    &__menu div {
        display:flex;
        align-items:center;
        gap:36px;
    }
    
    &__menu a {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 17px;
        color:#333333;
        text-decoration:none;
        padding:pxToEm(10, 17);
    }
    
    &__hamburger {
        display:none;
        cursor:pointer;
        padding:1rem;

        &--active {
            color: #38B54E;
        }
    }
    
    & .btn {
        text-transform: uppercase;
        color:#fff;
        background:#41B574;
        padding:pxToEm(17, 14) pxToEm(37, 14);
        border-radius: pxToEm(2, 14);
        font-weight: 900;
        font-size:pxToEm(14);
    }

    &__logo {
        display:flex;
    }
}

section {
    min-height: calc(100vh - 86px);
    box-sizing:border-box;
    padding:1rem;
}

$color1: #b1b538;
$theme: 'dark';


$red: 221;
$green: 121;
$blue: 001;
#gallery{
    background: $color1;
}
#contacts{
    background: rgba($color1, 0.4);
    color: rgb($red, $green, $blue)
}

.animation {
    height: 300px;
    background:#333333;
}

#about {
    background: #38B54E;

    &:hover {
        background:#518969;
        .animation {
            animation: stretch 5s;
            width:20%;
        }
    }
}

$correction: 150;

#gallery {
    .calculated {
        background:#554409;
        height: calc($correction / 2) + 0px;
        width: calc(50% - #{$correction + 0px});
    }
}

@keyframes stretch {
    0% {
        width:100%;
        background: #d7a1a1;
    }
    50% {
        width:70%;
        background: #632626;
    }
    100% {
        background: #333333;
        width:20%;
    }
}

@media screen and (max-width:800px) {
    .top_nav .btn {
        font-size: 12px;
        // padding:17px 10px;
    }

    .top_nav__menu  {
        gap:2px;
    }
}

@media screen and (max-width:700px) {
    .top_nav__menu {
        display:none;
    }

    .top_nav__menu a {
        background: rgb(255, 255, 255);
        width:100%;
        padding: 10px 20px !important;
        border-radius:0 !important;
        box-sizing:border-box;
    }

    .hamburger {
        display:flex;
    }


    .hamburger.active svg {
        fill: #41B574;
    }

    .hamburger.active + .top_nav__menu {
        display:flex;
        overflow:auto;
        position:fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        background: rgba(51, 51, 51, 0.469);

    }

    .hamburger.active + .top_nav__menu div {
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:fit-content;
        min-height:100%;
        width:100%;
        gap:2px;
    }
}